.profile_container{
    width: 200px;
    display: grid;
    grid-template: 150px 40px 40px/ 200px;
    background: #e6e6e6;
    border-radius: 5px;
    box-sizing: border-box;
    justify-self: center;
}

.profile_container *{
    background: RGB(230, 230, 230);
    justify-self: center
}

.profile_image{
    clip-path: circle(60px at center);
    margin-top: 10px;

}

.profile_name{
    width: 170px;
    font-size: 18px;
    border-bottom: 2px #f7f7f7 solid;
    margin: 0px 0px;
    padding: 0px 0px 10px 0px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    
}

.profile_points *{
    margin: 5px 1px;
    padding: 0;
}
