.link-preset{
    text-decoration: none;
    color: #253746;
}

.link-preset:hover{
    background-color:rgba(223, 223, 223, 0.452)
}

.general_search_container form{
    display: grid;
    justify-content: center;
    grid-template: 35px /repeat(4, 200px);
    grid-template-areas: "search search search ." ;   
    padding-top: 5px;
    padding-bottom: 15px;
    
}
.general_search_bar{

    grid-area: search;
    background: #e6e6e6;
    border: none;
    border-radius: 5px;
    padding-left: 18px;
    font-size: 18px;
    font-style: italic;
    display: block;
    height: 28px;
   
}
.general_search_bar:focus{
    border: none;
}

.general_search_bar :placeholder-shown{
    font-style: italic
}
.list_wrapper{
    margin: 0 auto;
    max-width: 1000px;
}
.list_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 5px;
    list-style: none;
    margin: 1fr;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;

}
.list_item{
    list-style: none;
}
.list_profile_container{
    display: grid;
    background: #e6e6e6;
    border-radius: 5px;
    box-sizing: border-box;
    grid-template-rows: 150px 40px 40px;

}

.list_profile_container *{
    justify-self: center;
}
 .profile_image{
     max-width: 128px;
 }

.list_profile_image{
    align-self: center;
    clip-path: circle(60px at center);
    max-width: 128px;
}

.list_profile_name{
    width: 180px;
    font-size: 18px;
    border-bottom: 2px #f7f7f7 solid;
    margin: 0px 0px;
    padding: 0px 0px 10px 0px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    
}

.list_profile_points *{
    margin: 5px 1px;
    padding: 0;
}
