.filterContainer{
    align-content: center;
    display: grid;
    justify-content: center;
    grid-template: 48px /repeat(3, 200px);
    grid-template-areas: "search search search .";
    margin-top:20px;
    margin-bottom: 24px;
    


}

.createPrizeContainer{
    display: grid;
    grid-template: auto auto 35px / 350px;
    grid-gap: 20px;
    justify-content: center;
    padding: 40px 0;
}

.prizeForm {
    display: grid;
    grid-template: repeat(5, 35px) / minmax(200px, 350px);
    grid-gap: 15px;
    justify-content: center;
}




.createPrizeInput{

    background: #e5e5e5;
    border: none;
    border-radius: 5px;
    padding-left: 18px;
    font-size: 18px;

}

.PrizeGrid{
    margin-top: 10px;
    display: grid;
    justify-content: center;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 220px);
}

@media (max-width: 768px) {

    .PrizeGrid{
        margin-top: 10px;
        display: grid;
        justify-content: center;
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fill, 200px);
    }

}


.editPrizeContainer{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template: 3fr 1fr / 1.2fr 2fr;
    grid-template-areas: "card info" "buttons buttons";
    background-color: #fff;
    padding: 20px;
    margin: 40px 20%;
    border-radius: 5px;
    max-width: 900px;
    box-sizing: border-box;
}



.editPrizeButton{
    background-color: #62e52c;
    width: 200px;
    height: 35px;
}

.infoPrizeContainer {
    display: flex;
    justify-content: center;
    align-items: center
    
}

.infoPrizeImg {
    height: 300px;
    width: 200px;
}

.prizeinfo{
    text-align: left;
}

.deletePrizeButton{
    background-color: #f89719;
    
    width: 200px;
    height: 35px;
}

.filter-field{
    grid-area: search;
    background: #e6e6e6;
    border: none;
    border-radius: 5px;
    padding-left: 18px;
    font-size: 18px;
    font-style: italic;
    height: 30px;

}

.filter-field:focus{
        border: none;
}

.filter-field:placeholder-shown{
    font-style: italic
}

.button_general{
    background-color: #62e52c;
    border-radius: 5px;
    border: none;
    color: #fafafa;
    font-size: 18px;  
    width: 150px;  
    height: 30px;
  
}

.button_general:hover {
    background-color: #5dce2c;
}

.searchBar-addButtonContainer
{
    display: grid;
    margin-bottom: -15px;
    justify-content: center;
    grid-template: 35px /repeat(4, 200px);
    grid-template-areas: ". . . button";
    align-content: center;
    display:flex;
    margin-left: 25px;
}

.addButtonContainer{
    height: 80px;
    display: flex;
    margin-top: 20px;
    /* background: red; */
    align-content: center;
    

}



.button_general_create{
    background-color: #62e52c;
    border-radius: 5px;
    color: #fafafa;
    font-size: 18px;  
    width: 150px;  
    height: 30px;
    margin-left: 30%;
    
  
}

.buttonsContainer{

    display: grid;
    grid-template: 85px / repeat(2, 1fr);
    align-items: center;
    grid-area: buttons;

}

.button_general_create:hover {
    background-color: #5dce2c;
}

.createContainer{
    display:grid;
    height: 270px;
    width: 200px;
    padding-left: 42%
    
}

.editPrizeInput{
    background: #e5e5e5;
    border: none;
    border-radius: 5px;
    padding-left: 18px;
    font-size: 18px;
}

.editForm{
display: grid;
  grid-template: repeat(5, 35px) / minmax(200px, 350px);
  grid-gap: 15px;
  justify-content: center;

}


.editPrize{
    grid-area: card;
}

.editFormContainer{
    grid-area: info;
}

.finalEditContainer {
        display:grid;
        height: 260px;
        width: 200px;
        padding-left: 18% 
}
