.filterContainer{
    align-content: center;
}

.createPrizeContainer{
    color: #fff;
    padding: 10px;
    background-color: #555
}

.prizeForm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);



    }

    @media (max-width: 768px) {


    }

    @media (max-width: 475px) {


}

button {
    cursor: pointer;
    background: transparent;
    border: 1px solid #fff;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
}

.createPrizeInput{

    margin: 5px;
    border-radius: 5px;
    border: 1px solid #222;
    font-size: 16px;
    padding: 5px 5px 5px 10px;

}

.PrizeGrid{
    margin-top: 10px;
    display: grid;
    justify-content: center;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, 200px);
}

.infoPrizeContainer{
    align-content: center;
}

.editFormContainer{
    color: #fff;
    padding: 10px;
    background-color: #555;
}

.editPrizeForm{
    display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(4, auto);



}
    
@media (max-width: 768px) {
    
    
}

@media (max-width: 475px) {
    
   
}

button {
    cursor: pointer;
    background: transparent;
    border: 1px solid #fff;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
}

.editButton{
    text-align: center;
    background: green;
}

.infoPrizeContainer {
    display: flex;
    justify-content: center;
    align-items: center
    
}

.infoPrizeImg {
    height: 300px;
    width: 300px;
}

.prizeinfo{
    text-align: left;
}

.deleteButton{
    text-align: center;
    background: rgb(218, 111, 11);
}
