.create_employee_container{
    display: grid;
    grid-template: auto auto 35px / 350px;
    grid-gap: 20px;
    justify-content: center;
    padding: 40px 0;
}

.button_general{
    background-color: #62e52c;
    border-radius: 5px;
    border: none;
    color: #fafafa;
    font-size: 18px;    
}

.button_general:hover {
    background-color: #5dce2c;
}

.button_save{
    margin: 0 100px;
  
    
}
.list_add_container{
    display: grid;
    width: 1vh;
    padding: 0.25fr;
    box-sizing: border-box;
    max-width: 1200px;
    height: auto;
    
}
.add_container{
    margin-top: 20px;
    display: grid;
    margin-bottom: -35px;
    justify-content: center;
    grid-template: 35px /repeat(4, 200px);
    grid-template-areas: ". . . button"
}

.button_add{
    grid-area: button;
    /* width: 700px;
    height: 35px; */
}