@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap" rel="stylesheet');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: RGB(37, 54, 70);
  overflow-x:hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home{
  display: flex;
  align-items: center;
  justify-content: center;
}

.img{
  filter: opacity(.6);
}